body{
  background-color:#DADADA;
  font-family: 'Saira Extra Condensed', sans-serif;
  color: inherit;
  margin: 0;
  margin-top: -90px;
}

.container {
 position: absolute;
 z-index: -2;
}

header{
  position: fixed;
  float: center;
  background-color: white;
  height: 70px;
  width: 1425px;
  top: 0;
  left: 0;
  z-index: 999;
}

#logobutton {
  width:150px;
  height:65px;
  position: fixed;
  top: 2px;
  left: 100px;
}

.tab {
float: right;
width: 200px;
height: 50px;
margin: .75em;
margin-top: 10px;
font-size: 30px;
text-align: center;
}

.tab1 {
float: right;
width: 200px;
height: 50px;
margin: .75em;
margin-top: 10px;
font-size: 30px;
text-align: center;
}


.tabx{
  float: right;
  width: 300px;
  height: 50px;
  margin: .75em;
  margin-top: 10px;
  font-size: 30px;
  text-align: center;
}

a:link, a:visited {
  color: #3D546C;
}

a:hover {
  color: #993299;
}

#education {
  width: 50%;
  height:375px;
  float: right;
  margin: 0;
}
#health{
  width: 50%;
  height: 375px;
  float: left;
  margin: 0;
}
#community{
  width: 50%;
  height: 375px;
  float; left;
  margin: 0;
}
#environment{
  width: 50%;
  height: 375px;
  float: right;
  margin: 0;
}
#logo {
  width: 300px;
  height:300px;
  position: absolute;
  top: 400px;
  left: 550px;
  z-index: 0;
}

.transparent {
  opacity: .8;
}

/*layering*/
.parent {
  position: relative;
  top: 70px;
  left: 4px;
  padding-top: 100px;
}

h2 {
  text-align: center;
  text-decoration: underline;
  font-size: 35px;
  font-style: normal;
  color: black;
  margin-bottom: 0px;
}

.notbold{
  font-weight:normal;
  /*margin: 5px;*/
  margin-top: auto;
  text-decoration: none;
}

.notboldx{
  font-weight: normal;
  /*padding: 5px;*/
  text-decoration: none;
}

/*#home {
  top: 0;
  left: 0;
}*/

#ourgoal {
  text-align: center;
  padding: 100px;
  margin: 10px auto;
  margin-top: 200px;
  background:#7A7A7A;
  width: 80%;
  border-radius: 13px;
}

h2 {
  border-radius: 15px;
  background: #D1F2EB;
  padding-bottom: 15px;
  width: 500px;
  text-align: center;
  position: relative;
  font-size: 50px;
  border: #989898;
  margin: 0 auto;
}

#creators {
  width: 500px;
  height: 500px;
  margin-top: 15px;
  border: 10px;
}
#about {
  text-align: center;
  padding:20px;
  position: relative;
  margin-top: 200px;
  z-index: -1;
}

.break {
  height: 60px;
  width:1450px;
}

p {
  text-align: center;
  font-size: 25px;
  z-index: -1;
  style=opacity:0.5;
}
